:root {
    --text-color: #1f2122;
    /* --color-primary: #352041; */
    /* --color-primary: #00AF66; */
    --color-background: rgb(252, 249, 249);
    --color-primary: #11c077;
    --color-secondary: #3D7ACA;
    --color-warning: #FFC600;
    --color-danger: #D35B40;
    --color-purple: #3b2e44;

    font-family: "Titillium";

    background-color: var(--color-background);
    color: var(--text-color);
}

::selection {
    background-color: var(--color-primary);
}

@font-face {
    font-family: "Titillium";
    src: url("fonts/TitilliumWeb-Regular.ttf");
}

@font-face {
    font-family: "Titillium Bold";
    src: url("fonts/TitilliumWeb-Bold.ttf");
}

@font-face {
    font-family: "Titillium Light";
    src: url("fonts/TitilliumWeb-LightItalic.ttf")
}


#navbar {
    background-color: var(--color-background);
}

.uk-navbar-item {
    color: var(--text-color) !important;
    font-family: "Titillium Bold" !important;
}

.uk-navbar-nav li a {
    color: var(--text-color) !important;
    font-size: 16px;
    font-family: "Titillium Bold" !important;
}

.image-radius {
    border-radius: 10px;
}


.personnel-info {
    padding: 0em 2em 2em 2em;
    margin: 0em 2em 2em 2em;
    border-radius: 10px;
    border: 2px solid var(--color-primary);
}

.personnel-image {
    min-height: 600px;
}


.name {
    font-size: 60px;
    font-family: "Titillium Bold";
    margin-bottom: 0;
}

.position {
    font-size: 35px;
    font-family: "Titillium Light";
    margin-top: 0;
}

.contact-list {
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}

.contact-list li span {
    margin-right: 1em;
    margin-left: 1em;
}

hr {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}


.center-stripe {
    background: linear-gradient(#000, #000) no-repeat center/2px 100%;
    padding-bottom: 30px;
}

.cover-stripe {
    background-color: var(--color-background);
}

a {
    color: var(--color-primary);
    text-decoration: underline;
}

h1 {
    font-family: "Titillium Bold" !important;
}

#meetTheTeam {
    margin-bottom: 1em;
}

#abacusTitle {
    margin-bottom: 0;
}

#abacusDescription {
    padding: 30px 230px 20px 230px;
    margin-top: 0;
}

